<div class="row">
  <div class="text-center">
    <h3 class="text-center">
      <%= @user.name %>
    </h3>
    <h3 class="text-center">
      <%= @user.username %>
    </h3>

    <div>All User Events</div>
    <% @user.created_events.each do |event| %>
      <%= event.title %><br />
      <%= event.description %>
    <% end %>
  </div>

  
</div>