<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
     <%= link_to "PrivateEvents", '#' %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign up", signup_path %></li>
    </ul>
  </div>
</nav>